{
  parser: "babel-eslint",
  extends: "airbnb",
  rules: {
    'no-unused-expressions': 'warn'
  },
  env: {
    browser: true,
    jasmine: true,
    mocha: true,
  },
  settings: {
    'import/resolver': {
      webpack: {
        config: 'webpack.config.babel.js'
      }
    }
  }
}
