{
  parser: "babel-eslint",
  extends: "airbnb",
  rules: {
  },
  env: {
    browser: true,
    jasmine: true,
  },
  settings: {
    'import/resolver': {
      webpack: {
        config: 'webpack.config.babel.js'
      }
    }
  }
}
