/* --------------------------------------------------
// 01/SETTINGS - COLOURS
// -------------------------------------------------- */

$bg              : #fff;
$text            : #606060;
$links           : #53b4c4;
$borders         : #e7e9eb;

$signalStop      : #ff5468;
$signalGetReady  : #fabe4d;
$signalGo        : #4dfa90;
